# Build artifacts
terraform-provider-lightningai
terraform-provider-lightningai.exe

# GoReleaser
dist/

# Terraform
**/.terraform/
**/.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfplan

# Go
*.test
vendor/

# Editor
.vscode/
.idea/
*.swp
*.swo
